# data
data/raw/
data/private/
Project-1/readmit/scripts/data/private
Project-1/readmit/scripts/data/raw
*.zip
Project-1/readmit30/faculty/faculty_workdir

# outputs
predictions.csv
executed.ipynb
__pycache__/
.venv/
.ipynb_checkpoints/

# OS/editor
.DS_Store
